# .NET
bin/
obj/
*.user
*.suo
.vs/
.vscode/
.idea/
TestResults/

# NexTraceOne
logs/
build/artifacts/
*.license
hardware.fingerprint
sign.pfx

# Docker
.env.local

# Frontend
src/frontend/node_modules/
src/frontend/dist/
src/frontend/.vite/
